body {
    background-color: #000;
}
#img1 {
    width: 4%; 
    border-radius: 50%;
    margin: 20px;
    margin-left: 100px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
}
nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav a {
    text-decoration: none;
    font-size: 25px;
    color: green;
}
