html {
    background-color: #04202c;
}
a {
    position: absolute;
    top: 81%;
    left:57%;
    color: #001B79;
}

.Registration {
    background-color: #304040;
    width: 30%;
    height: 75%;
    position:absolute;
    top: 15%;
    left: 35%;
    border-radius: 5%;
}
.input {
    color: #5b7065;
}
.t-color {
    color: #c9d1c8;
}

#input-1 {
    position: absolute;
    top: 20%;
    left: 14%;
    width: 70%;
    height: 7%;
}
#input-2 {
    position: absolute;
    top: 36%;
    left: 14%;
    width: 70%;
    height: 7%;
}
#input-3 {
    position: absolute;
    top: 52%;
    left: 14%;
    width: 70%;
    height: 7%;
}
#input-4 {
    position: absolute;
    top: 69%;
    left: 14%;
    width: 70%;
    height: 7%;
}
#h1-1 {
    position: absolute;
    top: -3%;
    left: 30%;
}
#h3-1 {
    position: absolute;
    top: 10%;
    left: 14%;
}
#h3-2 {
    position: absolute;
    top: 26%;
    left: 14%;
}
#h3-3 {
    position: absolute;
    top: 42%;
    left: 14%;
}
#h3-4 {
    position: absolute;
    top: 58%;
    left: 14%;
}

.submit-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 100% 38.5%;
    cursor: pointer;
    border-radius: 4px; /* Add some rounded corners */
}