#label-1 {
    margin-left: 10%;
}
#label-2 {
    margin-left: 13.2%;
}
#label-3 {
    margin-left: 3%;
}
#label-4 {
    margin-left: 10%;
}
#input-5 {
    margin-left: 18.7%;
    background-color: aqua;
    border-radius: 10px;
    
}